
$color-dark: #1a1a1a;
$color-grey: #2d2a32;
$color-light-grey: #f2f5fa;
$color-yellow: #fed440;
$color-white: #fff;

$color-shadow: rgba(0,0,0,.1);

$color-primary: $color-yellow;
$color-secondary: $color-dark;
$color-body: $color-light-grey;
$color-neutral: $color-white;
// $color-danger: ;
// $color-warning: ;
