doctype html
html(lang="fr")
  
  head
    meta(charset="utf-8")
    title Pierre Winckler | Badges
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="styles/main-min.css")

  body
    
    .o-canvas
            
      a(class='c-btn u-btn--primary u-btn--margin', href='index.html') Retour à l'accueil
      
      .o-footer.u-link--footer
        p Made with 💛 by
        a(class='u-link--under' href='https://github.com/Kardiah/vitae', target='_blank') Pierre Winckler
        span |
        a(class='u-link--under' href='https://www.linkedin.com/in/pierre-winckler/', target='_blank') LinkedIn
      
    script(src="main.js")
