
// 404
.u-svg-feather--first {
  animation: fall 3s ease-in-out infinite;
  animation-delay: -1s;
}

.u-svg-feather--second {
  animation: fall 1.5s ease-in-out infinite;
  animation-delay: -2s;
}

.u-svg-feather--third {
  animation: fall 2s ease-in-out infinite;
  animation-delay: -1s;
}

.u-svg-feather--fourth {
  animation: fall 3s ease-in-out infinite;
  animation-delay: -2s;
}

.u-svg-feather--fifth {
  animation: fall 4s ease-in-out infinite;
  animation-delay: -1s;
}
